@import "components/normalize.scss";
@import "components/icon-font.scss";
body {
  //display: flex;
  //flex-flow: row nowrap;
  background-color: #f1f1f1;
  font-family: arial;
  @import "components/adaptive.scss";
  @import "components/adaptive620.scss";
}
.left {
  float: left;
  position: fixed;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  width: 30%;
  background-color: #fff;
  border-right: 1px solid #e6e6e6;
  min-height: 1200px;
}
.left-container {
  margin-top: 85px;
  margin-right: 85px;
  margin-left: 40px;
  width: 80%;
  max-width: 250px;

  .name {
    text-align: left;
    color: #333;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.3;
    margin-bottom: 10px;
  }
  .position {
    font-size: 18px;
    text-align: left;
    color: #333;
    opacity: .7;
    line-height: 1.3;
    margin-bottom: 80px;
  }

  &__button {
    display: none;
  }
  .navigation {
    margin-bottom: 55px;

    .item.active {
      font-weight: bold;
      color: #333;
      cursor: auto;

      &:hover {
        color: #333;
      }
    }
    .item {
      cursor: pointer;
      font-size: 18px;
      color: rgba(#333, .7);
      padding-top: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid #e6e6e6;

      &:hover {
        color: rgba(#333, .8);
      }
      &:active {
        color: rgba(#333, .5);
      }
      &::selection {
        background-color: transparent;
      }
    }
    .item:first-child {
      border-top: 1px solid #e6e6e6;
    }
  }
  .contacts__title {
    color: #333;
    font-weight: bold;
    font-size: 22px;
    letter-spacing: 1px;
    margin-bottom: 30px;
  } 
  .contacts__description {
    font-size: 18px;
    line-height: 2;
    color: rgba(#333, .7);
  }
}
.right {
  float: right;
  width: 70%;
  background-color: #f1f1f1;
  min-height: 100vh;
  
  .page__about {
    margin-top: 80px;
    margin-left: 5%;
    margin-bottom: 80px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 80px;
    padding-bottom: 40px;
    width: 80%;
    max-width: 750px;
    background-color: #fff;
    border: 1px solid #e6e6e6;

    .page__title {
      color: #333;
      font-size: 26px;
      font-weight: bold;
      margin-bottom: 40px;
    }
    p {
      color: #333;
      margin-bottom: 30px;
      line-height: 1.8;
    }
    .additional-show, .additional-hide, .for-customer {
      cursor: pointer;
      color: rgba(#333, .7);

      &:hover {
        color: rgba(#333, .9);
      }
      &:active {
        color: rgba(#333, .5);
      }
    }
    .additional {
      display: none;
    }
  }

  .page__portfolio {
    display: none;
    margin-top: 80px;
    margin-left: 5%;
    margin-bottom: 80px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 80px;
    padding-bottom: 40px;
    width: 80%;
    max-width: 750px;
    background-color: #fff;
    border: 1px solid #e6e6e6;

    .page__title {
      color: #333;
      font-size: 26px;
      font-weight: bold;
      margin-bottom: 40px;
    }
    p {
      color: #333;
      margin-bottom: 30px;
      line-height: 1.8;
    }
  }

  .page__for-customer {
    display: none;
    margin-top: 80px;
    margin-left: 5%;
    margin-bottom: 80px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 80px;
    padding-bottom: 40px;
    width: 80%;
    max-width: 750px;
    background-color: #fff;
    border: 1px solid #e6e6e6;

    .page__title {
      color: #333;
      font-size: 26px;
      font-weight: bold;
      margin-bottom: 40px;
    }
    p {
      color: #333;
      margin-bottom: 30px;
      line-height: 1.8;
    }
  }

}

.copyright {
  margin-left: 5%;
  width: 80%;
  max-width: 750px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 5%;
  padding-right: 5%;
  height: 80px;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  //border-bottom: none;
  font-size: 16px;
  text-align: center;
  color: rgba(#333, .7);
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;



  a {
    text-decoration: none;
    color: rgba(#333, .5);
    margin-left: 4px;

    &:hover {
      color: rgba(#333, .9);
    }
  }
}

.popup {
  position: fixed;
  display: none;
  opacity: 0;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  width: 100%;
  background-color: rgba(#333, .5);
  z-index: 100;
  transition: all 1s ease;

  .popup__window {
    margin-top: 90px;
    position: relative;
    min-height: 400px;
    width: 100%;
    max-width: 800px;
    background-color: #fff;
    border: 2px solid #e6e6e6;  
    z-index: 100;
    padding: 40px;
    box-sizing: border-box;

    [type='text'] {
      display: block;
      margin-bottom: 20px;
      border: 2px solid #e6e6e6;
      font-size: 16px;
      font-family: Arial;
      color: rgba(#333, .5);
      padding: 10px;
      width: 80%;
      max-width: 300px;
    }
    [type='email'] {
      display: block;
      margin-bottom: 20px;
      border: 2px solid #e6e6e6;
      font-size: 16px;
      font-family: Arial;
      color: rgba(#333, .5);
      padding: 10px;
      width: 80%;
      max-width: 300px;     
    }
    textarea {
      display: block;
      margin-bottom: 20px;
      border: 2px solid #e6e6e6;
      font-size: 16px;
      font-family: Arial;
      color: rgba(#333, .5);
      padding: 10px;
      width: 80%;
      max-width: 450px;
      min-height: 120px;  
    }
    [type='submit'] {
      display: block;
      margin-bottom: 20px;
      border: 2px solid #e6e6e6;
      font-size: 16px;
      font-family: Arial;
      font-weight: bold;
      background: #f1f1f1;
      color: rgba(#333, .6);
      padding: 10px;
      width: 80%;
      max-width: 200px;
      cursor: pointer;  

      &:hover {
        background-color: rgba(#f1f1f1, 0.6);
        color: rgba(#333, .7);
      }
    }
  }

  .popup__shadow {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100vh;
    z-index: 10;
  }
  

}

