<!DOCTYPE HTML>
html
  head
    title Клод Фролло - HTML-верстальщик
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    //build:css css/style.min.css
    link(rel='stylesheet' href='css/style.css')
    //endbuild
  body
    .left
        .left-container
            .name Клод Фролло
            .position HTML-верстальщик
            .navigation
                .item.about.active Обо мне
                .item.portfolio Портфолио
                .item.feedback Форма связи
            .contacts
                .contacts__title Контакты
                .contacts__description.
                    Skype: frollodecol <br/>
                    Phone: +7 (952) 916-20-35 <br/>
                    Email: frollodecol@gmail.com <br/>

    .right__about
        .page
            .page__title Обо мне
            p Разработчик веб-сайтов.
            p Хорошо знаю HTML и CSS. Владею приёмами адаптивной и резиновой верстки, при предоставлении всей необходимой графики даже с учётом дисплеев с более высокой плотностью пикселей. При работе использую систему сборки gulp, а также препроцессоры SCSS и Pug (бывший Jade). С JS и библиотекой jQuery знаком на довольно низком уровне, но активно изучаю их.
            p Также есть поверхностные знания в PHP и в области администрирования веб-серверов.
            p.center Открыт для сотрудничества.
        .copyright Copyright © 2015 - Frollo Decol. <a target='_blank' href='https://github.com/frollodecol/portfolio'>Исходники.</a> <a target='_blank' href='http://rylov.pro/'>Дизайн.</a>
    //build:js js/main.min.js        
    //endbuild