<!DOCTYPE HTML>
html
  head
    title Клод Фролло - HTML-верстальщик
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='shortcut icon' href='/images/favicon.ico' type='image/x-icon')
    //build:css css/style.min.css
    link(rel='stylesheet' href='css/style.css')
    //endbuild
  body
    .left
        .left-container
            .left-container__title
                .left-container__name-and-position
                    .name Клод Фролло
                    .position HTML-верстальщик
                .left-container__button
                    i.icon-cross
                    i.icon-menu
            .left-container__description
                .navigation
                    .item.about.active Обо мне
                    .item.portfolio Портфолио
                    .item.feedback Форма связи
                .contacts
                    .contacts__title Контакты
                    .contacts__description.
                        Skype: frollodecol <br/>
                        Phone: +7 (952) 916-20-35 <br/>
                        Email: frollodecol@gmail.com <br/>

    .right
        .right__container
            .page__about
                .page__title Обо мне
                p HTML-верстальщик
                p Хорошо знаю HTML и CSS. Владею приёмами кросссбраузерной, адаптивной и резиновой верстки, а также приёмами вёрстки для дисплеев с более высокой плотностью пикселей (ретина). При работе использую систему сборки gulp, а также препроцессоры SCSS и Pug (бывший Jade). С JS и библиотекой jQuery знаком на довольно низком уровне, но активно изучаю их.
                p Также есть поверхностные знания в PHP и в области администрирования веб-серверов.
            .page__portfolio
                .page__title Портфолио
                h2 Седона
                p Сверстал простенький адаптивный и резиновый макет с векторной графикой, дополнительное внимание уделил пользователям с ретина-дисплеями. Опять же, сетка свёрстана на флексах, что приводит к неработоспособности сайта в старых браузерах ниже IE10.
                a(href='http://frollodecol.github.io/sedona/dist/index.html' target='_blank') Посмотреть
                a(href='https://github.com/frollodecol/frollodecol.github.io/tree/master/sedona/app' target='_blank') Исходники
                h2 Барбершоп
                p Сверстал простенький статичный макет с модальным окошком регистрации. Старался использовать БЭМ-нейминг. Сетка построена не на флоатах, а на флексах, что с одной стороны даёт лучше читаемый и модернизируемый код, а с другой - сетка вообще не будет работать в старых браузерах ниже IE10.
                a(href='http://frollodecol.github.io/barbershop/index.html' target='_blank') Посмотреть
                a(href='https://github.com/frollodecol/frollodecol.github.io/tree/master/barbershop') Исходники

            .page__feedback
                .page__title Обратная связь
                form.popup__window#feedback(method='post')
                    input(type='text' name='feedbackName' required placeholder='Имя')
                    input(type='email' name='feedbackEmail' required placeholder='E-mail')
                    textarea(name='feedbackMessage' required placeholder='Тест') 
                    input(type='submit' value='Отправить')
            .copyright. 
                Copyright © 2015 - Frollo Decol. <a target='_blank' href='https://github.com/frollodecol/portfolio'>Исходники.</a> <a target='_blank' href='http://rylov.pro/'>Дизайн.</a>
    //build:js js/main.min.js   
    script(src='js/main.js') 
    script(src='js/contact.js')    
    //endbuild